body{
	margin: 0;
	background-color: #faf9f5;
	background-image: url("resources/rice-paper-2.png");

}
.jumbotron {
  background-image:url('resources/holiday-orn.jpg');
  opacity: 0.8;
  transition: 1000ms;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 2px 2px 5px #808080;
}
.jumbotron:hover{
	background-image:url('resources/holiday-orn.jpg');
	opacity: 1;
  	transition: 1000ms;
}
.jumbotron h1{
	color: white;
	text-shadow: 2px 2px #ff0000;
	font-family: cursive;

}
.jumbotron p{
	color: white;
}
.logo{
	text-align: center;
	margin-bottom: 0px;
	padding-bottom: 20px;
	/*background-color:#faf9f5;*/
}
.logo img{
	width: 80%;
	margin-bottom: 5px;
	padding-top: 20px;
}

#sidebar{
    position:absolute;
    right:0px; 
    top:190px; 
    bottom: 0;
    width: 178px;
    background-color: blue;
    padding-right: 3%;
}

.center{
    margin: auto;
    padding: 10px;
}
.link-button{
	display: inline-block;
	border-radius: 10%;
	width: 20%;
	height: 20px;
	background-color: #D3F4FB;
	border: 2px solid black;
	margin: auto;
	padding: 5px;
	margin-left: 2.1%;
}
.row a{

	margin-top:0;
	margin-bottom:0;
}
.navi .row a:hover{
	color: white;
	background-color:skyblue;
	border-radius: 10px;
	text-decoration: none;
}
.row a:active{
	color: purple;
}

nav a{
	
	font-family: cursive;
	text-align: center;
	font-weight: bold;
	font-size: 22px;
}
.navi{
	background-color: pink;
	background-image: url("resources/clean-textile.png");
	width: 100%;
	height: 50px;
	padding-top: 10px;
	margin-bottom: 20px;
	box-shadow: 0px 5px 5px #808080;
}
.thumbnail{
	background-color: pink;
	background-image: url("resources/clean-textile.png");
	opacity: 0.7;
	box-shadow: 2px 2px 5px #808080;
}
.thumbnail img{
	margin-top: 10px;
	padding: 20px;
	padding-bottom: 0px;
	height: 300px;
    width: 300px;
    
    transition: 1000ms;
    border-radius: 30px;

}
.thumbnail:hover{
	opacity: 1;
	transition: 1000ms;
}
.thumbnail h3{
	font-family: cursive;
	color: black;
	text-shadow:1px 1px #ffffff;

}
.thumbnail h4{
	font-family: cursive;
	color: black;
	text-shadow:1px 1px #ffffff;
	font-size: 20px;
	margin-bottom: 12px;
	padding-top:12px;
}

nav{
	margin-left:auto;
	margin-right:auto;
}
.row .col-md-3 img{
    width: 100%;
}
.footer{
	width: 100%;
	height:50px;
	margin-top: 20px;
	padding-top: 15px;
	background-color: pink;
	background-image: url("resources/clean-textile.png");

}
.footer p{
	color: white;
	text-align: center;
}
#about-me{
	background-color: pink;
	background-image: url("resources/clean-textile.png");
	border-radius: 20px;
	padding: 25px;
	padding-top: 10px;
	box-shadow: 2px 2px 5px #808080;
}
#about-me img{
	width: 200px;
	height: 200px;
	margin: 10px;
	margin-right: 20px;
	margin-top: 0px;
	float: left;
	box-shadow: 2px 2px 5px #808080;


}
#about-me p{
	text-indent: 20px;
	text-align: justify;
	color: black;

}
#about-me h1{
	font-family: cursive;
	color: white;
	text-shadow: 2px 2px #000000;
	text-align: center;
}
/* This is the universal box generator*/

.the-box{
	background-color: pink;
	background-image: url("resources/clean-textile.png");
	border-radius: 20px;
	padding: 25px;
	padding-top: 10px;
	margin-top: 0px;
	box-shadow: 2px 2px 5px #808080;
	margin-bottom: 20px;
}
.the-box h1{
	font-family: cursive;
	color: white;
	text-shadow: 2px 2px #000000;
	text-align: center;
}
.the-box p{
	text-align: justify;
	text-indent: 20px;
}

/*End Box Generator*/


.small{
	width: 60%;
}
.small2{
	width: 350px;
}

.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
	margin: 10px;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
.vid-desc{
	font-family: cursive;
	text-shadow: 1px 1px #000000;
	color: white;
	text-align: center;

}
.art{
	text-align: center;
}
.modal-body img{
	width: 100%;

}
.gallery h1{
	font-family: cursive;
	text-shadow: 1px 1px #000000;
	color: white;
	text-align: center;
	font-size: 75px;
	margin-bottom: 10px;
	margin-top: 10px;
}
.gallery h3{
	font-family: cursive;
	text-shadow: 1px 1px #000000;
	color: white;
	text-align: center;
	margin-bottom: -5px;
}

.instagram-block h1{
	font-family: cursive;
	text-shadow: 1px 1px #000000;
	color: white;
	display: inline-block;
	margin-left: 10px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	font-size: 20px;
}
.instagram-block{
	margin-bottom: 0px;

}
.modal-body{
	background-color: pink;
}


@media only screen and (max-width: 768px) {
    .banner-image{
        width: 300px;
        height: 40px;
    }
}
@media only screen and (max-width: 768px) {
    .parabox{
        width: 95%;
    }
}

@media only screen and (max-width: 768px) {
    .link-button{
      width: 100%;
      margin: auto;
      border-radius: 0%;
      }
}

@media only screen and (max-width: 768px) {
    #header{
      height: 30%;
      }
}


@media only screen and (max-width: 564px) {
    .navi{
      height: 75px;
      }
}
@media only screen and (max-width: 768px) {
    .thumbnail img{
      height: 400px;
      width: 400px;
      }
}
@media only screen and (max-width: 768px) {
    .small{
      width: 100%;
      }
}

/* .vid-desc font-size change with screen size*/

@media only screen and (max-width: 768px){
	.vid-desc{
		font-size: 20px;
	}
}
@media only screen and (max-width: 768px){
	#about-me img{
		float: none;
		margin: auto;
		display: block;
		text-align: center;
		margin-bottom: 10px;
	}
}